Assignment - **2nd** **Feb 2023** 


Questions and Solutions.

Q1.  **Explain with an example each when to use a for loop and a while loop.**

**Ans :-For Loop: A for loop is an iteration method that is best used when you know the number of iterations ahead of time. Itâ€™s always followed by the initialization, expression and increment statements.

In [ ]:
# Example :-

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

While **Loop**: A while loop is an iteration method that is best used when you don't know the number of iterations ahead of time. The contents of the loop are executed as long as the expression evaluates to true.

In [ ]:
# Example :-

i = 0
while i <= 10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9
10

**Q2.  Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.**

Ans:- **By** **For** **Loop** :-

In [ ]:
## Sum and Product of the first 10 natural numbers by using For Loop.
l = [1,2,3,4,5,6,7,8,9,10]

sum = 0
product = 1
for i in l:
  sum = sum + i
  product = product * i

print(sum)

print(product)

55
3628800

 **By While Loop** :-

In [ ]:
## Sum and Product of the first 10 natural numbers by using While Loop.

sum = 0
product = 1

i = 1
while i <= 10:
  sum = sum + i
  product = product * i
  i += 1

sum

55

In [ ]:
product

3628800

**Q3. Create a python program to compute the electricity bill for a household.**

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.


You are required to take the units of electricity consumed in a month from the user as input.


Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

**Ans** **:-**

In [ ]:
n = int(input("The units of electricity is :- "))

if n <= 100:
  print(n*4.5)


elif n > 100:
  a = 100 * 4.5
  b = 100 * 6
  c = 100 * 10

  if n <= 200:
    n = n - 100
    print(n * 6 + a)
    
  elif n <= 300:
    if n <= 300:
      n = n - 200
      print(n * 10 + a + b)

  elif n > 300:
    n = n - 300
    print(n * 20 + a + b + c )

The units of electricity is :- 310
2250.0

**Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.**

Ans :-

In [43]:
# Creating a list l of numbers from 1 to 100.

l = []
for i in range(1,101):
  l.append(i)

In [54]:
# By Using For Loop.

l1 = []
for i in l:
  l1.append(i**3)
l2 = []
for i in l1:
  if i%4 == 0 or i%5 == 0:
    l2.append(i)

l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [7]:
# By Using While Loop.
i = 1
l3 = []
while i <= 100:
  d = i**3
  if d % 4 == 0 or d % 5 ==0:
    l3.append(d)
  i += 1
l3

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

** Q5.  Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist**

 Ans :-

In [10]:
string = "I want to become a data scientist"
s = string.lower()
s

count = 0
for i in s:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
    count +=1
    
count

12